.time {
    position: relative;
    padding: 32px;
    text-align: center;
}

.time h3 {
    display: inline-block;
    font-size: 32px;
    padding-bottom: 8px;
    margin-bottom: 0px;
}

.time .colaboradores {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;
}

.time .input-cor {
    position: absolute;
    top: 36px;
    right: 36px;
}